//- Jquery
script(type='text/javascript', src='//code.jquery.com/jquery-1.11.1.min.js')
script(type='text/javascript', src='//cdn.jsdelivr.net/g/jquery.ui@1.10%28jquery.ui.core.min.js+jquery.ui.widget.min.js+jquery.ui.mouse.min.js+jquery.ui.sortable.min.js')

//- Vendor Non-Angular
//- if (process.env.NODE_ENV != 'production' && process.env.NODE_ENV != 'staging' && process.env.NODE_ENV != 'test' )
//- 	script(type='text/javascript', src='/lib/ng-file-upload/angular-file-upload-shim.min.js')
//- 	script(type='text/javascript', src='/js/vendor/jsdiff.js')
//- 	script(type='text/javascript', src='/lib/lodash/dist/lodash.min.js')
//- 	script(type='text/javascript', src='/js/vendor/rangy-core.js')
//- 	script(type='text/javascript', src='/js/vendor/rangy-textrange.js')
//- 	script(type='text/javascript', src='/js/vendor/rangy-selectionsaverestore.js')
//- 	script(type='text/javascript', src="/socket.io/socket.io.js")
//- 	script(type='text/javascript', src='/js/vendor/changesets-client-side.js')
//- 	script(type='text/javascript', src='/lib/moment/min/moment.min.js')
//- 	script(type='text/javascript', src='/lib/newrelic-timing/newrelic-timing.min.js')
//- 	script(type='text/javascript', src='/lib/jsondiffpatch/build/bundle-full.min.js')


//- ReactJS
script(type='text/javascript', src='/lib/react-0.13.1/build/react-with-addons.js')


//- Core Application
script(type='text/javascript', src='/js/app.js')




