extends layouts/default

block content
  .row
    section(data-ng-include="'views/sidebar.html'", data-role="navigation")
    div#main.col-sm-12.col-md-12.main
      section(data-ng-include="'views/error.alert.html'")
      section(data-ng-include="'views/onboarding.html'")
      section(data-ui-view)
      script(type="text/javascript").
        window.user = !{user};
        window.keen = !{keen};
        window.S3_BUCKET = !{S3_BUCKET}
