#stat-tracker{
	.clock{

	}
	.current-players{

	}
	.shot-chart{
		position: relative;
		display: inline-block;
		width: 674px;
		margin: 20px 0 0 20px;
		cursor: crosshair;
		.toggle-btn{
			position: absolute;
			z-index: 1000;
			right: 10px;
			bottom: 10px;
			cursor: pointer !important;
		}
		.shot-chart-map{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: none;
			#shot-map-player-filter {
				position: absolute;
				z-index: 1000;
				right: 134px;
				bottom: 14px;
				width: 125px;
				cursor: pointer !important;
			}
			.made-shot{
				position: absolute;
				z-index: 200;
				color: #5cb85c;
				transform: translateX(-50%) translateY(-50%);
			}
			.missed-shot{
				position: absolute;
				z-index: 200;
				color: #d9534f;
				transform: translateX(-50%) translateY(-50%);
			}
		}
		.modal-bg{
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-color: rgba(0,0,0,0.5);
			z-index: 1;
		}

		.modal-bg.modal-bg-clear {
			background: none;
		}

		.shot-chart-modal {
			background-color: white;
		  	position: fixed;
		  	z-index: 500000;
		  	transform: translateX(-50%) translateY(-47%);
		  	border-radius: 5px;
		  	width: 160px;
		  	border: 1px solid rgba(0,0,0,0.2);
		  	box-shadow: 0 5px 15px rgba(0,0,0,0.5);
		  	padding: 10px;
		  	text-align: center;
		  	#shooter-options, #assister-options {
		  		margin: 6px 0 10px 0;
		  		cursor: pointer !important;
		  	}
		  	.made-btn, .done-btn {
		  		margin-right: 5px;
		  	}
		}

	}
	.other-stats{

	}
	.box-score{
		position: absolute;
		display: inline-block;
		margin: 20px 0 0 20px;
		.box-score-table{
			border-collapse: collapse;
			.box-score-header, .box-score-totals{
				td, th{
					border: 1px solid;
					padding: 5px;
					text-align: center;
				}
				th{
					border-bottom: 2px solid;
				}
				td{
					border-top: 2px solid;
					font-weight: 700;
				}
			}
			.box-score-row{
				td{
					border: 1px solid;
					padding: 5px;
					text-align: center;
				}

			}
		}
	}
	.reset-btn{
		position: absolute;
		top: 20px;
		right: 20px;
	}
}